<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312204920970-hiju5ljtkf9ki2jt72luo1nc8q7besim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312204920970-hiju5ljtkf9ki2jt72luo1nc8q7besim</string>
	<key>API_KEY</key>
	<string>AIzaSyB8aiiHOd7Wac-D1Ki2PFf4bMhGxbrzT58</string>
	<key>GCM_SENDER_ID</key>
	<string>312204920970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>asados-2a41e</string>
	<key>STORAGE_BUCKET</key>
	<string>asados-2a41e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312204920970:ios:01851afdd4d46d929d4573</string>
	<key>DATABASE_URL</key>
	<string>https://asados-2a41e-default-rtdb.firebaseio.com</string>
</dict>
</plist>